// Colors
$orange: #ff7b00;
$red: #ff0000;
$violet: #a600ff;
$blue: #0004ff;
$green: #00ff26;
$gray: #929492;
$linear: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
$semi-transporent-gray: rgba(236, 237, 238, 0.5);