@use '/src/sass/base/variables.scss' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $semi-transporent-gray;
    &__img {
        width: 25vh;
        transition: all 0.5s;
        &-logo {
            width: 100%;
            transition: all 0.5s;
        }
    }
    &__menu {
        // visibility: hidden;
        display: none;
        &-burger {
            border: 2px solid transparent;
            border-image: $linear 1;
            width: 50px;
            height: 50px;
            display: flex;
            gap: 8px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            span {
                display: block;
                width: 33px;
                height: 3px;
                background: $linear;
                &:nth-child(2) {
                    width: 23.1px;
                }
                &:nth-child(3) {
                    width: 13.2px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        &__menu {
            display: block;
            &-burger {
                display: none;
            }
        }
    }
}